body {
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
}

#survey {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    max-width: 500px; /* Mengatur lebar maksimal dengan jarak kiri-kanan 20px */
    margin: 0 auto; /* Mengatur tengah secara horizontal */
    text-align: center;
}

@media (max-width: 767px) {
    body {
        background: url('src/img/layar\ hp.png') center center no-repeat;
        background-size: cover;
    }

    #survey {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 40px;
        border-radius: 10px;
        max-width: calc(100% - 40px); /* Mengatur lebar maksimal dengan jarak kiri-kanan 20px */
        margin: 0 auto; /* Mengatur tengah secara horizontal */
        text-align: center;
    }
}

.input-box {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box input {
    width: calc(100% - 40px);
    padding: 5px;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #555;
    transition: border-color 0.3s;
}

.input-box img {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.input-box:hover {
    border: 1px solid  #3498db;
}

.select-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#survey h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #333;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.btn-primary {
    width: 100%;
    font-size: 18px;
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #297fb8;
    border-color: #297fb8;
}
