body {
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#login {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

@media (max-width: 767px) {
    #login {
        margin: -100px 10px 0 10px; /* Sesuaikan dengan nilai yang diinginkan */
        padding: 20px 30px;
    }
}

.input-box {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
}

.input-box input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #555;
    transition: border-color 0.3s; /* Menambahkan efek transisi pada warna border */
}

.input-box img {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* Menambahkan style untuk input yang disentuh */
.input-box:hover {
    border: 1px solid #ff0000; /* Warna merah saat input disentuh */
}

#login h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
}

.btn-primary {
    width: 100%;
}
