body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.ballots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.ballot {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    font-size: 16px; /* Sesuaikan dengan nilai yang diinginkan */
}

.header {
    
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    color: white;
}

.candidates {
    display: flex;
    flex-direction: column;
}

.candidate {
    margin-bottom: 10px;
}

.checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.submit-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .ballot {
        width: 100%;
        margin-bottom: 20px; /* Menambahkan margin antar surat suara pada layar HP */
    }

    .candidates {
        align-items: center; /* Pusatkan kandidat pada layar HP */
    }
}
